<main class="container">
  <div class="mt-5 d-flex justify-content-between align-items-center">
    <h1>Tus productos</h1>
    <div>
      <button id="deleteCart" class="btn btn-dark">Vaciar Carrito</button>
      <button id="purchase" class="btn btn-primary">Finalizar compra</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Menu</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</main>
<script src="/js/carts.js"></script>