<main class="bg-dark">
    <section class="container text-white d-flex h-100 flex-column align-content-center justify-content-between p-5">
        <div class="d-flex flex-column  justify-content-between mb-3">
            <h1 class="">Chat Room</h1>
            <div class="d-flex w-lg-50 align-items-center gap-3 ">
                <label for="email" class="form-label" style="white-space: nowrap;">Ingresar E-mail:</label>
                <input type="email" class="form-control" name="email" id="email" disabled  value="{{user.email}}">
            </div>
        </div>
        <div id="probandoScroll" class="flex-grow-1 border-1 rounded-2 bg-body-secondary text-black overflow-y-auto" style="height: 600px;">
            <div class="mt-3 px-3 text-light" id="chatContainer">
                {{#each messages}}
                <div class=" mb-3 px-3 border-1 rounded-3 " style="background-color: #488450;">
                    <small style="font-size: 12px;">{{this.email}}</small>
                    <p class="m-0 py-2">{{this.message}}</p>
                </div>
                {{/each}}
            </div>
        </div>
        <article class="mt-3">
            <div class="">
                <div>
                    <label for="textarea" class="form-label">Escribi tu msj</label>
                    <textarea type="text" class="form-control" name="textarea" id="textarea" required></textarea>
                </div>
                <div>
                    <button type="submit" id="enviarMensaje" class="btn btn-primary mt-3">Enviar Mensaje</button>
                </div>
            </div>
        </article>
    </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>