<main class="container d-flex gap-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Active</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</main>
<script src="/js/profile.js"></script>