<main class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a id="prevLink" class="page-link">Previous</a>
        </li>
        <li class="page-item">
          <a id="nextLink" class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</main>
<script src="/js/products.js"></script>