<main class="bg-dark vh-100">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <form
      class="p-5 rounded-2 bg-light"
      style="height: 450px; width: 420px;"
    >
      <div >
        <h2 class="mb-5">Recover your password</h2>
        <label for="exampleInputEmail1" class="form-label mb-3 h5">Input your E-mail</label>
        <input
          type="email"
          class="form-control mb-3"
          id="email"
          name="email"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text mb-4">We will send you an email with a link to reset your password.</div>
        <button id="recoverpassword" type="submit" class="btn btn-primary w-100 ">Recover password</button>
      </div>
      </div>
    </form>
  </div>

</main>
<script src="/js/recoverpassword.js"></script>