<main class="bg-dark">
  <div class="d-flex justify-content-center align-items-center">
    <form
      class="mt-3 p-4 rounded-2 bg-light"
      action="/api/sessions/register"
      method="post"
    >
      <div class="mb-3">
        <label for="first_name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          required
        />
        <label for="last_name" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          required
        />
        <label for="age" class="form-label">Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          name="age"
          min="18"
          required
        />
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          required
        />
        <div id="emailHelp" class="form-text">We'll never share your email with
          anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <hr />
      <p>You have an account
        <a class="" href="/login">Login</a></p>
    </form>
  </div>

</main>