<main class="bg-dark vh-100">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <form
      class="p-5 rounded-2 bg-light d-flex flex-column justify-content-between"
      style="height: 450px; width: 420px;"
    >
      <div>
        <label for="inputPassword5" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
        />
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8-20 characters long, contain letters and
          numbers, and must not contain spaces, special characters, or emoji.
        </div>
      </div>

      <div>
        <label for="inputPassword5" class="form-label">Confirm Password</label>
        <input
          type="password"
          name="password2"
          id="password2"
          class="form-control"
        />
      </div>
      <div class="d-flex flex-column">
        <button id="updatePassword" class="btn btn-primary">Reset password</button>
      </div>
    </form>
  </div>
</main>
<script src="/js/updatepassword.js"></script>